Language: Cpp
Standard: Latest
BasedOnStyle: Microsoft

AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignOperands: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes

BreakBeforeBraces: Custom
BraceWrapping:
    AfterUnion: true
    AfterNamespace: false
    SplitEmptyFunction: false

BinPackArguments: false
BinPackParameters: false
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma

SortIncludes: true
IncludeBlocks: Preserve
IndentWidth: 4

MaxEmptyLinesToKeep: 1

NamespaceIndentation: All

PointerAlignment: Left

SortUsingDeclarations: true
